POS_display/Service References/SR_FMD/ServiceFMD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appserv.phoenix.loc:8083/ServiceFMD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FMD.DTO" />
  <xs:element name="VerifySinglePack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="pack" nillable="true" type="q1:Pack" />
        <xs:element minOccurs="0" name="IsManualEntry" type="xs:boolean" />
        <xs:element minOccurs="0" name="localTransId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifySinglePackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="VerifySinglePackResult" nillable="true" type="q2:APIresponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStateSinglePack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="pack" nillable="true" type="q3:Pack" />
        <xs:element minOccurs="0" name="IsManualEntry" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="state" type="q4:State" />
        <xs:element minOccurs="0" name="localTransId" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStateSinglePackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="ChangeStateSinglePackResult" nillable="true" type="q5:APIresponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBulkOfPacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="packs" nillable="true" type="q6:ArrayOfPack" />
        <xs:element minOccurs="0" name="localTransId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBulkOfPacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="VerifyBulkOfPacksResult" nillable="true" type="q7:BulkOfPacksResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStateBulkOfPacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="packs" nillable="true" type="q8:ArrayOfPack" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="state" type="q9:State" />
        <xs:element minOccurs="0" name="localTransId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStateBulkOfPacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="ChangeStateBulkOfPacksResult" nillable="true" type="q10:BulkOfPacksResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseBulkOfPacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseBulkOfPacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResponseBulkOfPacksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseBulkOfPacksById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endpointId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bulkOfPacksId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseBulkOfPacksByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FMD.DTO" minOccurs="0" name="ResponseBulkOfPacksByIdResult" nillable="true" type="q11:LocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>