POS_display/Service References/SR_Privat/Privat1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pharmac_id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="production" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Account">
        <s:complexContent mixed="false">
          <s:extension base="tns:Obj">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CardId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreditOnly" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Obj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="sum" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pharmac_id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="reason_code" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sum2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="posh_id" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:Items" />
            <s:element minOccurs="1" maxOccurs="1" name="production" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Items">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="It" type="tns:ArrayOfItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PosdId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Sum" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateTransactionResult" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:complexContent mixed="false">
          <s:extension base="tns:Obj">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Acc" type="tns:Account" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="VoidTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pharmac_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="posh_ID" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="production" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VoidTransactionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTransaction" />
  </wsdl:message>
  <wsdl:message name="CreateTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:VoidTransaction" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:VoidTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="PrivatSoap">
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <wsdl:input message="tns:CreateTransactionSoapIn" />
      <wsdl:output message="tns:CreateTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <wsdl:input message="tns:VoidTransactionSoapIn" />
      <wsdl:output message="tns:VoidTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrivatSoap" type="tns:PrivatSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap:operation soapAction="http://tempuri.org/CreateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap:operation soapAction="http://tempuri.org/VoidTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrivatSoap12" type="tns:PrivatSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap12:operation soapAction="http://tempuri.org/CreateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap12:operation soapAction="http://tempuri.org/VoidTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Privat">
    <wsdl:port name="PrivatSoap" binding="tns:PrivatSoap">
      <soap:address location="http://it-agent1.phoenix.loc:8186/Privat.asmx" />
    </wsdl:port>
    <wsdl:port name="PrivatSoap12" binding="tns:PrivatSoap12">
      <soap12:address location="http://it-agent1.phoenix.loc:8186/Privat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>