POS_display/Service References/SR_DrugNotes/DrugNotesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDrugNotesByProductVID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDrugNotesByProductVIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDrugNotesByProductVIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDrugNotesByProductID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDrugNotesByProductIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDrugNotesByProductIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDrugNotesByProductVIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDrugNotesByProductVID" />
  </wsdl:message>
  <wsdl:message name="GetDrugNotesByProductVIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDrugNotesByProductVIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDrugNotesByProductIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDrugNotesByProductID" />
  </wsdl:message>
  <wsdl:message name="GetDrugNotesByProductIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDrugNotesByProductIDResponse" />
  </wsdl:message>
  <wsdl:portType name="DrugNotesWSSoap">
    <wsdl:operation name="GetDrugNotesByProductVID">
      <wsdl:input message="tns:GetDrugNotesByProductVIDSoapIn" />
      <wsdl:output message="tns:GetDrugNotesByProductVIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugNotesByProductID">
      <wsdl:input message="tns:GetDrugNotesByProductIDSoapIn" />
      <wsdl:output message="tns:GetDrugNotesByProductIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DrugNotesWSSoap" type="tns:DrugNotesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDrugNotesByProductVID">
      <soap:operation soapAction="http://tempuri.org/GetDrugNotesByProductVID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugNotesByProductID">
      <soap:operation soapAction="http://tempuri.org/GetDrugNotesByProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DrugNotesWSSoap12" type="tns:DrugNotesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDrugNotesByProductVID">
      <soap12:operation soapAction="http://tempuri.org/GetDrugNotesByProductVID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugNotesByProductID">
      <soap12:operation soapAction="http://tempuri.org/GetDrugNotesByProductID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrugNotesWS">
    <wsdl:port name="DrugNotesWSSoap" binding="tns:DrugNotesWSSoap">
      <soap:address location="http://appserv.phoenix.loc:8084/DrugNotesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="DrugNotesWSSoap12" binding="tns:DrugNotesWSSoap12">
      <soap12:address location="http://appserv.phoenix.loc:8084/DrugNotesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>