POS_display/Service References/SR_PharmacyInfo/PharmacyInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPharmacyInfoForDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phs_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPharmacyInfoForDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPharmacyInfoForDateResult" type="tns:PhInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PhName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Forecast" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPharmacyInfoForDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetPharmacyInfoForDate" />
  </wsdl:message>
  <wsdl:message name="GetPharmacyInfoForDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetPharmacyInfoForDateResponse" />
  </wsdl:message>
  <wsdl:portType name="PharmacyInfoSoap">
    <wsdl:operation name="GetPharmacyInfoForDate">
      <wsdl:input message="tns:GetPharmacyInfoForDateSoapIn" />
      <wsdl:output message="tns:GetPharmacyInfoForDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PharmacyInfoSoap" type="tns:PharmacyInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPharmacyInfoForDate">
      <soap:operation soapAction="http://tempuri.org/GetPharmacyInfoForDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PharmacyInfoSoap12" type="tns:PharmacyInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPharmacyInfoForDate">
      <soap12:operation soapAction="http://tempuri.org/GetPharmacyInfoForDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PharmacyInfo">
    <wsdl:port name="PharmacyInfoSoap" binding="tns:PharmacyInfoSoap">
      <soap:address location="http://denu00ms0144.phoenix.loc:82/PharmacyInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="PharmacyInfoSoap12" binding="tns:PharmacyInfoSoap12">
      <soap12:address location="http://denu00ms0144.phoenix.loc:82/PharmacyInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>